#imagecon {
  background-image: url('../images/cosplay.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 675px;
  width: 1200px;
}

@media screen and (max-width: 768px) {
    #imagecon {
    background-image: url('../images/cosplaymedium.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 675px;
    width: 768px;
}
}

@media screen and (max-width: 412px) {
    #imagecon {
    background-image: url('../images/littleman.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 361px;
    width: 412px;
}
}