.imagecon {
  background-image: url('../images/cosplay.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

@media screen and (max-width: 1200px) {
    .imagecon {
    background-size: contain;
}
}

